
body{
    font: 20px, Arial, sans-seriff;
}

.navbar {
    background-color: #FEC102;
}

.quem-somos{
    background-color: #000000;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #1E1C1C;
}

.bg-footer{
    background-color: black;
    color: white;
}